body {
    background-color: lightgreen;
}
h1 {
    text-align: center;
    width: 800px;
    color: rgb(3, 78, 3);
}
#player { 
    width: 15px; 
    height: 15px; 
    position: absolute; 
    background: red; 
    left: 10px; 
    top: 100px; 
} 
.mazeblock { 
    width: 20px;
    height: 20px;
    background-color: blue;
}
#mazemap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 800px;
    margin-left: 20px;
}
.space {
    width: 20px;
    height: 20px;
    background-color: yellow;

}   
#victory {
    color: red;
    font-weight: 900;
}